<%- include ('./partials/header.ejs') %> <!--incluindo arquivo header com a configuração do bootstrap no index html-->

<body>
    <h1>Olá Mundo!</h1>
</body>

<%- include ('./partials/footer.ejs') %> <!--incluindo footer com cfg de script do boostrap-->